In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('MSFT.csv')
data.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,%K,%R,RSI
0,1986-03-13,0.088542,0.101563,0.088542,0.097222,0.059946,1031788800,NaN,NaN,NaN
1,1986-03-14,0.097222,0.102431,0.097222,0.100694,0.062087,308160000,NaN,NaN,NaN
2,1986-03-17,0.100694,0.103299,0.100694,0.102431,0.063158,133171200,NaN,NaN,NaN
3,1986-03-18,0.102431,0.103299,0.098958,0.099826,0.061552,67766400,NaN,NaN,NaN
4,1986-03-19,0.099826,0.100694,0.097222,0.098090,0.060482,47894400,NaN,NaN,NaN
5,1986-03-20,0.098090,0.098090,0.094618,0.095486,0.058876,58435200,NaN,NaN,NaN
6,1986-03-21,0.095486,0.097222,0.091146,0.092882,0.057270,59990400,NaN,NaN,NaN
7,1986-03-24,0.092882,0.092882,0.089410,0.090278,0.055665,65289600,NaN,NaN,NaN
8,1986-03-25,0.090278,0.092014,0.089410,0.092014,0.056735,32083200,14.537005,NaN,NaN
9,1986-03-26,0.092014,0.095486,0.091146,0.094618,0.058341,22752000,29.775491,NaN,NaN

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9712 entries, 0 to 9711
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       9712 non-null   object
 1   Open       9712 non-null   float64
 2   High       9712 non-null   float64
 3   Low        9712 non-null   float64
 4   Close      9712 non-null   float64
 5   Adj Close  9712 non-null   float64
 6   Volume     9712 non-null   int64
 7   %K         9704 non-null   float64
 8   %R         9699 non-null   float64
 9   RSI        9698 non-null   float64
dtypes: float64(8), int64(1), object(1)
memory usage: 758.9+ KB

In [20]:
del data['Date']

In [7]:
data = data.dropna(axis=0)

In [21]:
data.head(10)

,Open,High,Low,Close,Adj Close,Volume,%K,%R,RSI
14,0.096354,0.098958,0.096354,0.096354,0.059411,23040000,65.476190,-50.003594,48.387216
15,0.096354,0.097222,0.096354,0.096354,0.059411,26582400,57.142857,-50.003594,48.387216
16,0.096354,0.097222,0.092882,0.094618,0.058341,16560000,42.857143,-62.502696,45.018991
17,0.094618,0.097222,0.094618,0.095486,0.058876,10252800,40.476190,-46.153846,47.005348
18,0.095486,0.098090,0.095486,0.097222,0.059946,12153600,47.619048,-18.181818,50.831369
19,0.097222,0.098958,0.095486,0.098090,0.060482,13881600,66.666667,-9.090909,52.671272
20,0.098958,0.101563,0.098958,0.099826,0.061552,17222400,79.044552,-14.292756,56.201333
21,0.099826,0.101563,0.099826,0.100694,0.062087,12153600,84.397502,-7.150485,57.892445
22,0.100694,0.100694,0.097222,0.100694,0.062087,9302400,84.392808,-8.342119,57.892445
23,0.100694,0.105035,0.099826,0.104167,0.064229,31910400,88.032556,-7.142270,64.290516

In [24]:
train_data = pd.DataFrame(data.iloc[0:int(len(data)*0.7), :])
test_data = pd.DataFrame(data.iloc[int(len(data)*0.7):len(data), :])

In [25]:
print(len(train_data))
print(len(test_data))

6788
2910

In [28]:
train_data.head()

,Open,High,Low,Close,Adj Close,Volume,%K,%R,RSI
14,0.096354,0.098958,0.096354,0.096354,0.059411,23040000,65.476190,-50.003594,48.387216
15,0.096354,0.097222,0.096354,0.096354,0.059411,26582400,57.142857,-50.003594,48.387216
16,0.096354,0.097222,0.092882,0.094618,0.058341,16560000,42.857143,-62.502696,45.018991
17,0.094618,0.097222,0.094618,0.095486,0.058876,10252800,40.476190,-46.153846,47.005348
18,0.095486,0.098090,0.095486,0.097222,0.059946,12153600,47.619048,-18.181818,50.831369

In [35]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

scaled_train_data = scaler.fit_transform(train_data)
scaled_test_data = scaler.transform(test_data)

In [36]:
import numpy as np

x_train = []
y_train = [] 

x_test = []
y_test = []

for i in range(100, scaled_train_data.shape[0]):
    x_train.append(scaled_train_data[i-100: i, :])
    y_train.append(scaled_train_data[i, :])

for i in range(100, scaled_test_data.shape[0]):
    x_test.append(scaled_test_data[i-100: i, :])
    y_test.append(scaled_test_data[i, :])

x_train, y_train = np.array(x_train), np.array(y_train)
x_test, y_test = np.array(x_test), np.array(y_test)

In [38]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(6688, 100, 9)
(6688, 9)
(2810, 100, 9)
(2810, 9)

In [43]:
# WORK IN PROGRESS
# from keras.layers import Dropout, LSTM, Dense
# from keras.models import Sequential

# model = Sequential()
# model.add(LSTM(units=100, activation='relu', return_sequences=True, input_shape=(x_train.shape[1], x_train.shape[2])))
# model.add(Dropout(0.2))
# model.add(LSTM(units = 120, activation = 'relu', return_sequences=True))
# model.add(Dropout(0.3))
# model.add(LSTM(units = 140, activation = 'relu', return_sequences=True))
# model.add(Dropout(0.4))
# model.add(LSTM(units = 160, activation = 'relu'))
# model.add(Dropout(0.5))
# model.add(Dense(units = 1))