In [1]:
import requests

headers = {
    'Content-Type': 'application/json'
}
requestResponse = requests.get("https://api.tiingo.com/tiingo/daily/aapl?token="YOUR_TOKEN"", headers=headers)
print(requestResponse.json())

{'ticker': 'AAPL', 'name': 'Apple Inc', 'description': "Apple Inc. (Apple) designs, manufactures and markets mobile communication and media devices, personal computers, and portable digital music players, and a variety of related software, services, peripherals, networking solutions, and third-party digital content and applications. The Company's products and services include iPhone, iPad, Mac, iPod, Apple TV, a portfolio of consumer and professional software applications, the iOS and OS X operating systems, iCloud, and a variety of accessory, service and support offerings. The Company also delivers digital content and applications through the iTunes Store, App StoreSM, iBookstoreSM, and Mac App Store. The Company distributes its products worldwide through its retail stores, online stores, and direct sales force, as well as through third-party cellular network carriers, wholesalers, retailers, and value-added resellers. In February 2012, the Company acquired app-search engine Chomp.", 'startDate': '1980-12-12', 'endDate': '2024-08-26', 'exchangeCode': 'NASDAQ'}

##  This is Intraday data freq = every 5 MIns

In [ ]:
headers = {
    'Content-Type': 'application/json'
}
requestResponse = requests.get("https://api.tiingo.com/iex/aapl/prices?startDate=2019-01-02&resampleFreq=5min&columns=open,high,low,close,volume&token=e9099efb79717f8ff3d48cd67ab8ae71a6f71966", headers=headers)
print(requestResponse.json())
https://api.tiingo.com/iex/<ticker>/prices?startDate=2019-01-02&resampleFreq=5min

In [1]:
import requests
import pandas as pd
import datetime

# Define API endpoint
api_url = "https://api.tiingo.com/iex/"
ticker = "AAPL"
start_date = (datetime.datetime.now() - datetime.timedelta(days=3)).strftime("%Y-%m-%d")
end_date = datetime.datetime.now().strftime("%Y-%m-%d")

columns = "open,high,low,close,volume"
token = "YOUR_API_KEY"  # Tiingo API key

# Acxtual API request URL
url = f"{api_url}{ticker}/prices?startDate={start_date}&endDate={end_date}&resampleFreq=5min&columns={columns}&token={token}"

try:
  response = requests.get(url)
  response.raise_for_status()
except requests.exceptions.RequestException as e:
  print(f"Error: {e}")
  exit()

In [6]:
data = response.json()
df = pd.DataFrame(data)

df['date'] = pd.to_datetime(df['date'], utc=True).dt.tz_localize(None)

# Save DataFrame to Excel file
filename = f"{ticker}_{start_date}_{end_date}.xlsx"
df.to_excel(filename, index=False)

print(f"Data saved to Excel file: {filename}")

Data saved to Excel file: AAPL_2024-08-24_2024-08-27.xlsx

In [7]:
df.head()

                 date     open     high      low    close   volume
0 2024-08-26 13:30:00  226.840  227.195  226.320  226.820  15378.0
1 2024-08-26 13:35:00  226.890  226.940  226.640  226.685  10578.0
2 2024-08-26 13:40:00  226.680  226.750  226.230  226.550   4980.0
3 2024-08-26 13:45:00  226.540  226.620  226.065  226.120  12429.0
4 2024-08-26 13:50:00  226.115  226.535  226.030  226.400  10453.0

In [8]:
print(start_date)

2024-08-24