In [4]:
import yfinance as yf
# import talib #refer to this: https://stackoverflow.com/questions/75474154/how-to-install-ta-lib-with-python-3-11-in-windows
import pandas as pd

In [5]:
def calculate_rsi(df, period=14):
    delta = df['Close'].diff()
    gain = delta.where(delta > 0, 0)
    loss = -delta.where(delta < 0, 0)
    
    avg_gain = gain.rolling(window=period).mean()
    avg_loss = loss.rolling(window=period).mean()
    
    rs = avg_gain / avg_loss
    rsi = 100 - (100 / (1 + rs))
    return rsi

# Calculate Stochastic Oscillator
def calculate_stochastic(df, period=14):
    lowest_low = df['Low'].rolling(window=period).min()
    highest_high = df['High'].rolling(window=period).max()
    
    stoch_k = ((df['Close'] - lowest_low) / (highest_high - lowest_low)) * 100
    return stoch_k

# Calculate Williams %R
def calculate_williams_r(df, period=14):
    highest_high = df['High'].rolling(window=period).max()
    lowest_low = df['Low'].rolling(window=period).min()
    
    williams_r = ((highest_high - df['Close']) / (highest_high - lowest_low)) * -100
    return williams_r

In [8]:
tickers = ['AAPL', 'NVDA', 'GOOG']
for ticker in tickers:
    t = yf.Ticker(ticker)
    df = yf.download(ticker, period='max')
    df['RSI'] = calculate_rsi(df)
    df['%K'] = calculate_stochastic(df)
    df['%R'] = calculate_williams_r(df)
    df.to_csv(f"{ticker}.csv")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [8]:
# rsi = talib.RSI(data['Close'])
# slowk, _ = talib.STOCH(data['High'], data['Low'], data['Close'])
# willr = talib.WILLR(data['High'], data['Low'], data['Close'])

In [9]:
# data['%K'], data['%R'], data['RSI'] = slowk, willr, rsi

In [9]:
df.head(20)

,Open,High,Low,Close,Adj Close,Volume,RSI,%K,%R
Date,,,,,,,,,
2004-08-19,2.490664,2.591785,2.390042,2.499133,2.493011,897427216,NaN,NaN,NaN
2004-08-20,2.515820,2.716817,2.503118,2.697639,2.691030,458857488,NaN,NaN,NaN
2004-08-23,2.758411,2.826406,2.716070,2.724787,2.718112,366857939,NaN,NaN,NaN
2004-08-24,2.770615,2.779581,2.579581,2.611960,2.605561,306396159,NaN,NaN,NaN
2004-08-25,2.614201,2.689918,2.587302,2.640104,2.633636,184645512,NaN,NaN,NaN
2004-08-26,2.613952,2.688672,2.606729,2.687676,2.681092,142572401,NaN,NaN,NaN
2004-08-27,2.692408,2.705360,2.632383,2.643840,2.637363,124826132,NaN,NaN,NaN
2004-08-30,2.622171,2.627402,2.540727,2.540727,2.534503,104429967,NaN,NaN,NaN
2004-08-31,2.547950,2.583068,2.544463,2.549693,2.543447,98825037,NaN,NaN,NaN
2004-09-01,2.557912,2.564637,2.482445,2.496891,2.490774,183633734,NaN,NaN,NaN
2004-09-02,2.470490,2.549693,2.464263,2.528273,2.522079,303810504,NaN,NaN,NaN
2004-09-03,2.514326,2.534002,2.473728,2.490913,2.484811,103538639,NaN,NaN,NaN
2004-09-07,2.515820,2.540478,2.480951,2.530017,2.523819,117506800,NaN,NaN,NaN
2004-09-08,2.509095,2.566132,2.503118,2.547950,2.541708,100186120,53.260140,36.187217,-63.812783
2004-09-09,2.553678,2.558161,2.515571,2.548199,2.541956,81620792,53.275673,23.177575,-76.822425
2004-09-10,2.530515,2.654052,2.523043,2.623417,2.616990,174804764,44.068446,43.947811,-56.052189
2004-09-13,2.655795,2.700129,2.651561,2.677464,2.670905,157628624,46.374016,67.614590,-32.385410
2004-09-14,2.676219,2.789544,2.659780,2.776842,2.770039,217608605,62.899463,96.095074,-3.904926
2004-09-15,2.753679,2.845086,2.744712,2.789544,2.782710,215279909,61.980839,85.415279,-14.584721
2004-09-16,2.798012,2.884189,2.780827,2.838610,2.831656,186207345,62.071693,89.145953,-10.854047

In [11]:
# data.to_csv("MSFT.csv")