In [1]:
import yfinance as yf
import talib #refer to this: https://stackoverflow.com/questions/75474154/how-to-install-ta-lib-with-python-3-11-in-windows
import pandas as pd

In [7]:
msft = yf.Ticker('MSFT')
data = yf.download('MSFT', period='max')

[*********************100%***********************]  1 of 1 completed

In [8]:
rsi = talib.RSI(data['Close'])
slowk, _ = talib.STOCH(data['High'], data['Low'], data['Close'])
willr = talib.WILLR(data['High'], data['Low'], data['Close'])

In [9]:
data['%K'], data['%R'], data['RSI'] = slowk, willr, rsi

In [10]:
data.head(20)

,Open,High,Low,Close,Adj Close,Volume,%K,%R,RSI
Date,,,,,,,,,
1986-03-13,0.088542,0.101563,0.088542,0.097222,0.059946,1031788800,NaN,NaN,NaN
1986-03-14,0.097222,0.102431,0.097222,0.100694,0.062087,308160000,NaN,NaN,NaN
1986-03-17,0.100694,0.103299,0.100694,0.102431,0.063158,133171200,NaN,NaN,NaN
1986-03-18,0.102431,0.103299,0.098958,0.099826,0.061552,67766400,NaN,NaN,NaN
1986-03-19,0.099826,0.100694,0.097222,0.098090,0.060482,47894400,NaN,NaN,NaN
1986-03-20,0.098090,0.098090,0.094618,0.095486,0.058876,58435200,NaN,NaN,NaN
1986-03-21,0.095486,0.097222,0.091146,0.092882,0.057270,59990400,NaN,NaN,NaN
1986-03-24,0.092882,0.092882,0.089410,0.090278,0.055665,65289600,NaN,NaN,NaN
1986-03-25,0.090278,0.092014,0.089410,0.092014,0.056735,32083200,14.537005,NaN,NaN
1986-03-26,0.092014,0.095486,0.091146,0.094618,0.058341,22752000,29.775491,NaN,NaN
1986-03-27,0.094618,0.096354,0.094618,0.096354,0.059411,16848000,57.321937,NaN,NaN
1986-03-31,0.096354,0.096354,0.093750,0.095486,0.058876,12873600,78.796296,NaN,NaN
1986-04-01,0.095486,0.095486,0.094618,0.094618,0.058341,11088000,83.796296,NaN,NaN
1986-04-02,0.094618,0.097222,0.094618,0.095486,0.058876,27014400,77.976190,-52.944360,NaN
1986-04-03,0.096354,0.098958,0.096354,0.096354,0.059411,23040000,65.476190,-50.003594,48.387216
1986-04-04,0.096354,0.097222,0.096354,0.096354,0.059411,26582400,57.142857,-50.003594,48.387216
1986-04-07,0.096354,0.097222,0.092882,0.094618,0.058341,16560000,42.857143,-62.502696,45.018991
1986-04-08,0.094618,0.097222,0.094618,0.095486,0.058876,10252800,40.476190,-46.153846,47.005348
1986-04-09,0.095486,0.098090,0.095486,0.097222,0.059946,12153600,47.619048,-18.181818,50.831369
1986-04-10,0.097222,0.098958,0.095486,0.098090,0.060482,13881600,66.666667,-9.090909,52.671272

In [11]:
data.to_csv("MSFT.csv")